/* footer */
footer {
	margin-top: 2.5rem;
	background: whitesmoke;
	height: 75px;
	align-items: center;
	justify-content: center;
}

footer .container {
	text-align: center;
	flex-direction: column;
}
