/* Fonts */
@font-face {
	font-family: Pacifico;
	src: url("./assets/fonts/Pacifico/Pacifico-Regular.ttf");
}

@font-face {
	font-family: Poppins-Reg;
	src: url("./assets/fonts/Poppins/Poppins.ttf");
}

@font-face {
	font-family: Ultra;
	src: url("./assets/fonts/Ultra/Ultra-Regular.ttf");
}

/* Basic CSS Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Color Palette */
:root {
	--aero-blue: hsla(163, 60%, 82%, 1);
	--china-rose: hsla(343, 36%, 46%, 1);
	--vivid-tangerine: hsla(11, 100%, 79%, 1);
	--orange-yellow-crayola: hsla(42, 93%, 73%, 1);
	--persian-green: hsla(172, 47%, 43%, 1);
	--pine-green: hsla(174, 100%, 23%, 1);
	--bg-gradient: linear-gradient(
		146deg,
		hsla(163, 60%, 82%, 1) 0%,
		hsla(172, 47%, 43%, 1) 52%,
		hsla(174, 100%, 23%, 1) 100%
	);
	--bg-glass: hsla(0, 0%, 100%, 0.5);
	--gap: 32px;
	--font-xs: 0.75rem;
	--font-sm: 1rem;
	--font-sd: 1.333rem;
	--font-md: 1.777rem;
	--font-lg: 2.369rem;
	--font-xl: 3.157rem;
	--font-hg: 4.209rem;
}

/* Typography */

body {
	font-family: Poppins-Reg;
	background: var(--bg-gradient);
}

a {
	text-decoration: none;
	color: var(--pine-green);
}

a:hover {
	color: var(--china-rose);
}

p {
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	line-height: 1.3;
	font-family: Ultra;
}

h1,
h2 {
	margin-top: 0;
	font-size: var(--font-md);
	color: var(--china-rose);
}

h3 {
	font-size: var(--font-sd);
}

/* utility class */
.container {
	width: 80vw;
	margin: 0 auto;
}

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.block {
	display: block;
	gap: var(--gap, 1rem);
}

.none {
	display: none;
	gap: var(--gap, 1rem);
}

.sr-only {
	display: none;
}

.transition {
	transition: transform 350ms ease-in-out;
}

.image {
	width: 100%;
	height: auto;
}

.button {
	outline: 0;
	border: 0;
	padding: 8px 32px;
	border-radius: 32px;
	background: var(--orange-yellow-crayola);
	cursor: pointer;
}

.button:hover {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.034), 0 2px 3px rgba(0, 0, 0, 0.068);
	transition: all 0.2s ease-out;
	background: #121212;
	color: var(--orange-yellow-crayola);
}

/* section (for spacing between sections) */
section {
	margin-bottom: 2.625rem;
	width: 100%;
}

/* Header */
header {
	padding: 2rem;
	background: whitesmoke;
	position: sticky;
	top: 0;
	height: 100px;
}

.hamburger {
	display: none;
}

header .container {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header ul li {
	list-style-type: none;
	color: var(--pine-green);
}

header .logo {
	font-family: Pacifico;
	font-size: var(--font-sm);
	color: var(--china-rose);
}

@media (max-width: 648px) {
	nav {
		position: fixed;
		padding: min(30vh, 10rem) 5rem;
		inset: 0 0 0 40%;
		z-index: 1000;
		transform: translateX(100%);
		background: var(--orange-yellow-crayola);
	}

	nav[data-visible="true"] {
		transform: translateX(0%);
	}

	.primary-navigation {
		flex-direction: column;
	}

	.hamburger {
		position: absolute;
		width: 2rem;
		aspect-ratio: 1;
		top: 2rem;
		right: 2rem;
		z-index: 9999;
		display: block;
	}
}

/* Hero section */
.hero {
	height: calc(100vh - 100px);
}

.hero .container {
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero .container .col {
	width: 100%;
}

.hero .container .col:last-child {
	width: 100%;
	height: 40vh;
	background: url(/src/assets/images/pexels-jj-jordan-8380252.jpg);
	background-size: cover;
	background-position: center center;
}

@media (min-width: 648px) {
	.hero .container {
		flex-direction: row;
	}
}

/* card section */
.card {
	background: whitesmoke;
}

.card-image {
	height: 150px;
}
