/* menu */
.menu-main {
	min-height: calc(100vh - 100px - 75px - 2.5rem);
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2.5rem;
}

.menu .container > .flex {
	height: 600px;
}

.menu .container > .flex > .col {
	flex: 1;
}

.menu .container > .flex > .col.flex {
	flex-direction: column;
	overflow: scroll;
}

.menu .container > .flex > .col > .card-image {
	height: 100%;
}

.menu .card-image {
	background-image: url(/src/assets/images/pexels-anna-tukhfatullina-food-photographerstylist-2638026.jpg);
}

@media (max-width: 648px) {
	.menu .container > .flex {
		flex-direction: column;
		height: 80vh;
	}
}
